<form method="post" action="/users/posts/new">
  <label for="song_link">Song link:</label>
  <div>
    <input name="song_link" id="song_link">
  </div>
  <label for="caption">Caption:</label>
  <div>
    <textarea name="caption" id="caption" rows="5" cols="28"></textarea>
  </div>
  <button type="submit">Create post!</button>
</form>
