<!DOCTYPE html>
<html>
  <title>Music App</title>
   <body>
    <% if session[:message] %>
      <p class="message"><%= session.delete(:message) %></p>
    <% end %>
    <%== yield %>
  </body>
</html>