html {
  font-family: monospace !important;
  color: rgb(226, 226, 226);
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 20px;
}

*, *::before, *::after {
  box-sizing: inherit;
}

#feed_links {
  list-style-type: none;
  margin-left: 0;
  padding-left: 2%;
}

#feed_links li {
  background-color: #080808;
  padding-left: 1%;
  border-radius: .2rem;
  margin-top: 10px;
  width: 25%;
}


#username_link {
  color: rgb(156, 46, 247);
}

#username_link:hover{
  color: white;
}


body {
  height: 100vh;
  margin: 0;
  place-items: center;
  background-image: url(../layered-waves-haikei.svg);
  background-size:cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: overlay;
}

#container{
  display: grid;
  column-gap: 10px;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(354px,1fr));
}

.post_wrapper_big{
  background-image: url(https://i.gifer.com/POtJ.gif);
  background-position: center;
  margin: 0;
  display: flex;
  grid-template-rows: 1fr auto;
  border-radius: 8px;
  margin: auto;
  padding: .1rem;
  break-inside: avoid;
  width: 50%;
}

.post_big {
  background-color: #080808;
  padding: .5rem;
  border-radius: 6px;
  text-align: left;
  width: 100%;
}

.post_big *{
  background-color: transparent;
}

.post_big a{
  display: inline-block;
  margin-bottom: 1px;
  padding: 2px;
}

.post_big button {
  border-radius: 8px;
  background-color: cyan;
  color: black;
  border-style: hidden;
}

.post_big button:hover {
  background-color: rgb(248, 89, 187);
}

.comments{
  margin: auto;
  width: 50%;
}

.comment {
  background-color: #080808;
  padding: .5rem;
  border-radius: 6px;
  text-align: left;
  width: auto;
}

.post_wrapper{
  background-image: url(https://i.gifer.com/POtJ.gif);
  background-position: center;
  margin: 0;
  display: grid;
  grid-template-rows: 1fr auto;
  border-radius: 8px;
  margin: 5px;
  padding: .1rem;
  break-inside: avoid;
  width: auto;
}

.post {
  background-color: #080808;
  padding: .5rem;
  border-radius: 6px;
  text-align: left;
  width: auto;
}

.post *{
  background-color: transparent;
}

.post a{
  display: inline-block;
  margin-bottom: 1px;
  padding: 2px;
}

.post button {
  border-radius: 8px;
  background-color: cyan;
  color: black;
  border-style: hidden;
}

.post button:hover {
  background-color: rgb(248, 89, 187);
}

.caption{
  word-break: break-all;
  white-space: pre-wrap;
}

.post_big iframe{
  border: 0px;
  width: 100%;
}

.post iframe {
  border: 0px;
  width: 100%;
  height: 20%;
  margin: 0;
}

body {
  margin: 0;
}

.topnav {
  overflow: hidden;
  background-color: transparent;
}

.topnav *{
  display: inline-block;
  margin: auto;
}

.topnav a {
  float: left;
  display: block;
  color:  rgb(248, 89, 187);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 24px;
}

.topnav a:hover {
  color: white;
}

.topnav .search-container {
  float: right;
}

.topnav input[type=text] {
  margin-top: 2px;
  padding: 14px 16px;
  font-size: 24px;
  border: 0;
  background-color: transparent;
  color: white;
}

.topnav input:focus{
  outline: none;
}

.topnav .search-container button {
  float: right;
  padding: 14px 16px;
  margin-right: 16px;
  background: #ddd;
  font-size: 24px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: transparent;
}

@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }
  .topnav a, .topnav input[type=text], .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;  
  }
}

a {
  text-decoration: none;
  color:rgb(248, 89, 187);
}

a:hover {
  text-decoration: solid;
  color: white;
}

::-webkit-scrollbar {
  width: 4px;
  height: 8px;
  margin-right: 2px;
  max-height: 10px;
  background: transparent;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: hotpink;
  border-radius: 20px;
  max-height: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: purple;
}

